<div class="row">
	<div class="col-xs-12 col-md-6 col-md-offset-3">
		
		
		<div class="row">
			<div class="col-xs-6">
				<div class="cell cell-green cell-fixed-height ">
					<h6>Calculate your</h6>
					<h1>LIX</h1>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-6 col-xs-offset-6">
				<div class="cell cell-red-light cell-fixed-height">
					<p>Ever wondered how your writing skills are?</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-6">
				<div class="cell cell-gray-lighter cell-fixed-height">
					<p>Do you write like a children's book or a thesis?</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-6 col-xs-offset-6">
				<div class="cell cell-facebook cell-fixed-height">
					<h6 class="bottom-margin">Connect now</h6>
					<a href ng-click="connectFacebook();">
						<img src="img/icon-facebook.png" height="40">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>